<div class="edit-form">

  <div class="form-row">
    <app-dynamic-form *ngIf="!!commonForm" [form]="commonForm.form" [controls]="commonForm.controls"></app-dynamic-form>
  </div>
  
  <div class="form-row">
    <app-dynamic-form *ngIf="!!dynamicForm" [form]="dynamicForm.form" [controls]="dynamicForm.controls"></app-dynamic-form>
  </div>
  
  <div class="action-row">
    <button (click)="cancel()">Cancel changes</button>
    <button *ngIf="!!taskID" (click)="saveEdits()">Save changes</button>
    <button *ngIf="!taskID" (click)="saveNew()">Add new task</button>
  </div>
</div>