<div>
  <h4>Task list</h4>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th colspan="2">Action</th>
      </tr>      
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks$ | async">
        <td>{{task.name}}</td>
        <td>{{task.type}}</td>
        <td>
          <button [routerLink]="['/task', task._id]">Edit</button>
        </td>
        <td>
          <button (click)="deleteTask(task._id)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <button routerLink="/task">Add new task</button>
        </td>
      </tr>      
    </tfoot>
  </table>
</div>

<app-modal id="modal-1">
  <h4>Do you really want to delete this entry?</h4>
  <button (click)="close(true)">Confirm</button>
  <button (click)="close();">Cancel</button>
</app-modal>